{% extends "base.html" %}

{% block content %}

<form action="{% url 'delete_snippet' snippet_pk=snippet.pk %}" method="POST">
    {% csrf_token %}
    <p>Click to confirm deletion of {{ snippet.title }}:</p>
    <p>
        <button class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" type="submit">Delete forever</button>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'snippet_detail' snippet_pk=snippet.pk %}">Cancel</a>
    </p>
</form>

{% endblock %}