{% extends "base.html" %}


{% block content %}
<div>
    <div class="flex flex-column tc">
        <h1 class="header mb1">SnipBank</h1>
        <h4>A Software Developer's Code Snippet Management Tool</h4>
    </div>
    <section>
        <div class="flex justify-center">
             <p class="outline w-40 pa3 mr2 tc h5" id="oka">Build a personalized coding database</p>
             <p class="outline w-40 pa3 mr2 tc h5" id="okb">Organize your code for future use</p>
        </div>
        <div class="flex justify-center ok">
             <p class="outline w-40 pa3 mr2 tc h5" id="okc">Increase your daily productivity</p>
             <p class="outline w-40 pa3 mr2 tc h5" id="okd">Improve time management</p>
        </div>
    </section>
</div>

{% endblock %}
