  
{% extends "base.html" %}

{% block content %}

<h1 class="header">SnipBank</h1>
<h3 class="subheader">Your Snippet Library</h3>

<p class="header">
    <a class="f6 link dim br4 ph4 pv2 mb2 dib white bg-light-purple" href="{% url 'new_snippet' %}">Add a snippet to your library</a>
</p>


<ul class="cf pa4">
    {% for snippet in snippets.all %}
        <li><a class="pa2 fl tc w-50 f6 link br2 ph3 mb2 dib white bg-light-purple" href="{% url 'snippet_detail' snippet_pk=snippet.pk %}">{{ snippet.title }} <br> {{ snippet.date_of_creation }}</a></li>
    {% endfor %}
</ul>




{% endblock %}