  
{% extends "base.html" %}

{% block content %}

<h1>Snippet Library</h1>

<p>
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'new_snippet' %}">Add a snippet to your library</a>
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'home' %}">Go home</a>
</p>

<ul>
    {% for snippet in snippets.all %}
        <li><a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'snippet_detail' snippet_pk=snippet.pk %}">{{ snippet.title }} <br> {{ snippet.usage_description }}</a></li>
    {% endfor %}
</ul>




{% endblock %}