{% extends "base.html" %}

{% block title %}
Snippet Library - {{ snippet.title }}
{% endblock %}

{% block content %}
<h4>Snippet Title:</h4>
<h2>{{ snippet.title }}</h2>

{% if snippet.tags.count > 0 %}
<ul class='list p10'>
    {% for tag in snippet.tags.all %}
        <li class='dib mr2 pa2 bg-light-blue'><a class="black no-underline" href="{% url 'view_tag' tag_name=tag.tag %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div>
    <div class="viewinfo">Coding Language: {{ snippet.language }}</div>
    <div class="viewinfo">Date created: {{ snippet.date_of_creation }}</div>
    <div class="viewinfo">Recommended Usage: {{ snippet.usage_description }}</div>
    <div class="viewinfo">Snippet Text:</div>
    <pre><code class="{{ snippet.language }}">{{ snippet.code_text }}</code></pre>
    
</div>

<p>
    <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'edit_snippet' snippet_pk=snippet.pk %}">Edit snippet</a>
    <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'delete_snippet' snippet_pk=snippet.pk %}">Delete snippet</a>
    <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'show_snippets' %}">Return to Snippet Library</a>
</p>

{% endblock %}