<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Code Snippet Manager{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="{% static 'snippet.css' %}"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/dracula.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="general">

    {% if user.is_authenticated %}
    <div>
        Welcome back, {{ user.first_name }}!
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'auth_logout' %}">Logout</a>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'home' %}">Home</a>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'new_snippet' %}">Add new snippet</a>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'show_snippets' %}">Snippet Library</a>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'search_snippets' %}">Search</a>
        <a class="f6 link dim br4 ph3 pv2 mb2 dib white bg-light-purple" href="{% url 'list_tags' %}">Tags</a>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}


<div class="flex flex-column tc">
    <h1 class="header">SnipBank</h1>
    <h4>A Software Developer's Code Snippet Management Tool</h4>
</div>


    
<footer class="pv4 ph3 ph5-m ph6-l white">
    <small class="f6 db tc">© 2020 <b class="ttu">SnipBank Inc.</small>
    <div class="tc mt3">
        <p class="f6 dib ph2 link white dim">REMARKABLE</p>
        <p class="f6 dib ph2 link white dim">HIGHLY USEFUL</p>
        <p class="f6 dib ph2 link white dim">INNOVATIVE</p>
    </div> 
</footer>
    
</body>

</html>